In [41]:
import pandas as pd

In [42]:
data=pd.read_csv("/content/train.csv")

In [43]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [ ]:
#Check for the empty values

In [44]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [45]:
d2= pd.DataFrame(data)

In [39]:
# (b) Remove unit from the  Mileage, Engine, Power and New price and then convert them into float

In [46]:
d2['Mileage'] = d2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

d2['Engine'] = d2['Engine'].str.replace(' CC', '').astype(float)

d2['Power'] = d2['Power'].str.extract('(\d+\.\d+)').astype(float)

d2['New_Price'] = d2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

d2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

In [8]:
#(a) Fill in the missing values in "Mileage," "Engine," and "Power" with the median

In [47]:
d2['Mileage'].fillna(d2['Mileage'].median(),inplace=True)
d2['Engine'].fillna(d2['Engine'].median(),inplace=True)
d2['Power'].fillna(d2['Power'].median(),inplace=True)

d2['Seats'].fillna(d2['Seats'].mode()[0],inplace=True)

d2.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [48]:
output_csv_file = 'clean_data.csv'
d2.to_csv(output_csv_file, index=False)

In [49]:
d1=pd.read_csv("/content/clean_data.csv")

In [50]:
d1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [ ]:
#Now, let us  take a look on to the  unique values for few of the  categorical variables: "Fuel_Type," "Transmission," and "Owner_Type."

In [51]:
d1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [52]:
d1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [53]:
d1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [54]:
# (c) To work with the categorical variables, we will make convert them into numerical data using one-hot encoding.
d1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
d1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
d1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [55]:
d1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [ ]:
#Saving the encoded data in a new csv file

In [56]:
output_csv_file = 'encoded.csv'
d1.to_csv(output_csv_file, index=False)

In [57]:
#(d) Finally, we will add a new column called "CURRENT AGE OF THE CAR" to our dataset, which will helps to understand how old each car is.

In [58]:
from datetime import datetime

In [59]:
current_year = datetime.now().year

d1['Current_Age'] = current_year - d1['Year']

In [61]:
#Save the encoded data in the new csv file
output_csv_file = 'n_table.csv'
d1.to_csv(output_csv_file, index=False)

In [62]:
d3=pd.read_csv("/content/n_table.csv")
d3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,10